@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.address-label {
    color: #ffa200;
    border: 1px solid #ffa2002b;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    font-weight: 700;
    transition: background-color .2s, color .2s;
    display: flex;
    cursor: pointer;
}

.address-label:hover {
    background-color: rgba(255, 162, 0, 0.3);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

details {
    position: relative;
    width: 300px;
    margin-right: 1rem;
}

details[open] {
    z-index: 1;
}

summary {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ffa200;
    background-color: transparent;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
}

summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
}

ul {
    width: 100%;
    background: #ddd;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}

li:first-child {
    padding-top: 0;
}

li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

summary.radios:before {
    content: var(--selection);
}

input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
}

input[type=radio]:checked {
    display: inline;
    --display: block;
}

input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: 1rem;
}

ul.list {
    counter-reset: labels;
}

label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.layer {
    width: 50px;
    height: 50px;
    opacity: 0.95;

    position: absolute;
    left: 40px;

    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg);
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotate(45deg);
}

.layer:nth-child(1) {
    animation: firstLayer 2s forwards infinite;
}

.layer:nth-child(2) {
    animation: secondLayer 2s forwards infinite;
}

.layer:nth-child(3) {
    animation: thirdLayer 2s forwards infinite;
}

.layer:nth-child(4) {
    animation: fourthLayer 2s forwards infinite;
}

.layer:nth-child(5) {
    animation: fifthLayer 2s forwards infinite;
}

.layer:nth-child(1) {
    background: rgba(255, 162, 0, 1);
}

.layer:nth-child(2) {
    background: rgba(255, 162, 0, 0.8);
}

.layer:nth-child(3) {
    background: rgba(255, 162, 0, 0.6);
}

.layer:nth-child(4) {
    background: rgba(255, 162, 0, 0.4);
}

.layer:nth-child(5) {
    background: rgba(255, 162, 0, 0.2);
}

@keyframes firstLayer {
    0% {
        top: 70px
    }

    50% {
        top: 25px
    }

    100% {
        top: 70px
    }
}

@keyframes secondLayer {
    0% {
        top: 70px
    }

    50% {
        top: 30px
    }

    100% {
        top: 70px
    }
}

@keyframes thirdLayer {
    0% {
        top: 70px
    }

    50% {
        top: 35px
    }

    100% {
        top: 70px
    }
}

@keyframes fourthLayer {
    0% {
        top: 70px
    }

    50% {
        top: 40px
    }

    100% {
        top: 70px
    }
}

@keyframes fifthLayer {
    0% {
        top: 70px
    }

    50% {
        top: 45px
    }

    100% {
        top: 70px
    }
}